html {
    box-sizing: border-box;
    font-size: 62.5%;
    /**  Reset para REMS -62.5% = 10px de 16px  **/
    scroll-behavior: smooth;
}

*,
*:before,
*::after {
    box-sizing: inherit;
}

:root {
    --main-color: #f0cb27;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

a,
ul {
    text-decoration: none;
    list-style: none;
    color: white;
}

.btn {
    background-color: var(--main-color);
    border: none;
    margin: 0 auto;
    display: block;
    color: #2b2828;
    font-size: 2rem;
    margin: 1.8rem auto;
    padding: 1rem;
    width: 50%;
    transition: all 0.5s;
}

.btn:hover {
    background-color: #dbb716c4;
}


/* ---barra contacto---- */

.barra-contacto {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color);
    font-size: 1.5rem;
}

@media (max-width: 411px) {
    .barra-contacto {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    .barra-contacto {
        font-size: 2rem;
    }
}

.barra-contacto p {
    padding-left: 2rem;
    padding-right: 2rem;
}


/* ----------- navegacion ------------*/

.nav-container {
    background-color: #353535;
    overflow: hidden;
}

.logo {
    padding: 2rem;
    width: 50%;
    margin-left: 30%;
}

.logo a {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    color: white;
}

@media (min-width: 768px) and (max-width: 959px) {
    .logo {
        width: 40%;
        margin-left: 0;
    }
    .logo a {
        font-size: 4rem;
    }
}

@media (min-width: 960px) and (max-width: 1199px) {
    .logo {
        width: 40%;
        margin-left: 0;
    }
    .logo a {
        font-size: 4rem;
    }
}

@media (min-width: 1200px) {
    .logo {
        width: 40%;
        margin-left: 0;
    }
    .logo a {
        font-size: 4rem;
    }
}

nav a {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color: white;
}

nav {
    display: flex;
}

.nav {
    display: none;
    margin-top: 1rem;
}

@media (min-width: 768px) and (max-width: 959px) {
    .nav {
        display: block;
        padding-top: 3rem;
    }
    .nav ul {
        display: flex;
        justify-content: space-between;
    }
    .nav a {
        font-size: 2.2rem;
        padding: 2rem;
    }
}

@media (min-width: 960px) and (max-width: 1199px) {
    .nav {
        display: block;
        padding-top: 2rem;
    }
    .nav ul {
        display: flex;
        justify-content: space-between;
    }
    .nav a {
        font-size: 3.5rem;
        padding: 3rem;
    }
    .nav a:first-of-type {
        padding-left: 0;
    }
}

@media (min-width: 1200px) {
    .nav {
        display: block;
        padding-top: 1rem;
        margin-left: 6rem;
    }
    .nav ul {
        display: flex;
        justify-content: space-between;
    }
    .nav a {
        font-size: 3rem;
        padding: 5rem;
    }
}


/*  ----- mobile menu ------*/

@media (min-width: 768px) {
    .menu {
        display: none;
    }
}

#btn-menu {
    display: none;
}

.nav-mobile {
    position: fixed;
    left: -25rem;
    width: 25rem;
    height: 60%;
    background-color: var(--main-color);
    transition: all 0.5s;
}

.nav-mobile p {
    font-size: 2.2rem;
    color: white;
    text-align: center;
    line-height: 7rem;
    background-color: #ceaa0b;
    user-select: none;
}

.nav-mobile ul {
    padding-left: 0;
}

.nav-mobile ul li {
    background-color: #ceaa0b;
}

.nav-mobile ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 6.5rem;
    font-size: 2rem;
    color: white;
    padding-left: 7rem;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    margin-left: 0;
}

label #bt,
label #cancel {
    position: absolute;
    cursor: pointer;
}

label #bt {
    left: 4rem;
    top: 6rem;
    font-size: 3.5rem;
    color: white;
    transition: all 0.5s;
}

label #cancel {
    z-index: 1111;
    left: -19.5rem;
    top: 6rem;
    font-size: 3rem;
    color: white;
    padding: 0.4rem 0.9rem;
    transition: all 0.5s ease;
}

#btn-menu:checked~.nav-mobile {
    left: 0;
}

#btn-menu:checked~label #bt {
    left: 25rem;
    opacity: 0;
    pointer-events: none;
}

#btn-menu:checked~label #cancel {
    left: 19.5rem;
}


/* ----------------- banner -------------------- */

.contenedor-banner {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    background-color: #353535dc;
    height: 30vh;
    color: white;
}

@media (min-width: 568px) and (max-width: 680px) {
    .contenedor-banner {
        height: 50vh;
    }
}

.contenedor-banner h1 {
    margin: 0 2rem;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10rem;
    line-height: 3rem;
    letter-spacing: 1px;
}

@media (min-width: 768px) and (max-width: 959px) {
    .contenedor-banner h1 {
        font-size: 3.5rem;
        padding-top: 15rem;
        line-height: 4rem;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-align: center;
    }
}

@media (min-width: 960px) and (max-width: 1199px) {
    .contenedor-banner {
        height: 50vh;
    }
    .contenedor-banner h1 {
        font-size: 4.5rem;
        padding-top: 20rem;
        line-height: 5.5rem;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .contenedor-banner {
        height: 80.5vh;
    }
    .contenedor-banner h1 {
        font-size: 5rem;
        padding-top: 40rem;
        line-height: 7rem;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-align: center;
    }
}


/*------ Servicios ------*/

.titulo {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.titulo h2::before {
    content: '';
    background-color: var(--main-color);
    font-size: 2rem;
    display: block;
    width: 5rem;
    height: .5rem;
    margin: 1rem auto;
    border-radius: 1rem;
}

.texto {
    font-size: 2rem;
    margin: 3rem 5rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 5rem;
}

@media (min-width: 768px) and (max-width: 959px) {
    .titulo {
        text-align: center;
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    .titulo h2::before {
        content: '';
        background-color: var(--main-color);
        font-size: 2rem;
        display: block;
        width: 8rem;
        height: .6rem;
        margin: 1rem auto;
        border-radius: 1rem;
    }
    .texto {
        font-size: 2.5rem;
        margin: 3rem 5rem;
        text-align: center;
        font-weight: 500;
    }
}

@media (min-width: 960px) and (max-width: 1199px) {
    .titulo {
        text-align: center;
        font-size: 4rem;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    .titulo h2::before {
        content: '';
        background-color: var(--main-color);
        font-size: 2rem;
        display: block;
        width: 10rem;
        height: 1rem;
        margin: 1rem auto;
        border-radius: 1rem;
    }
    .texto {
        font-size: 3rem;
        margin: 3rem 8rem;
        text-align: center;
        font-weight: 500;
    }
}

@media (min-width: 1200px) {
    .titulo {
        text-align: center;
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    .titulo h2::before {
        content: '';
        background-color: var(--main-color);
        font-size: 2rem;
        display: block;
        width: 6rem;
        height: 0.5rem;
        margin: 1rem auto;
        border-radius: 1rem;
    }
    .texto {
        font-size: 3rem;
        margin: 3rem 8rem;
        text-align: center;
        font-weight: 400;
    }
}

.contenedor-servicios {
    margin: 1rem 2rem;
    border: 1px solid var(--main-color);
}

.servicios h3 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--main-color);
    margin-left: 1rem;
}

.servicios p {
    font-size: 2rem;
    margin: 2rem;
}

.servicios-img {
    text-align: center;
}

.servicios-img img {
    max-width: 90%;
    filter: grayscale(2);
}

@media (min-width: 960px) and (max-width: 1199px) {
    .contenedor-serv {
        display: flex;
        flex-basis: calc(33.3% - 1rem);
    }
}

@media (min-width: 1200px) {
    .contenedor-serv {
        display: flex;
        flex-basis: calc(33.3% - 1rem);
    }
    .servicios-img img {
        filter: grayscale(1);
        transition: all 0.6s ease;
    }
    .servicios-img img:hover {
        filter: grayscale(0);
        max-width: 95%;
    }
}